* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerColor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D2D3E;
}
.containerTop {
    width: 80%;
    min-height: 40px;
}

.containerCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerSun {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 50px;
    align-items: center;
    color: white;
}

.containerClock {
    display: flex;
    gap: 5px;
}

.containerIcon {
    display: flex;
    gap: 10px;
    color: white;
}

.containerBotton {
    width: 80%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    cursor: pointer;
}

ul{
    display: flex;
    gap: 10px;
}

ul li {
    list-style: none;
    display: flex;
    gap: 9px;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
}

#listOne{
    width: 100%;
    background-image: url(./h1_hero\ \(1\).jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

